<app-page-header [title]="'Department'" [breadcrumbs]="[
    { label: 'Department' }
  ]">
</app-page-header>

<div class="department-page">
  <app-list-widget 
  [config]="listConfig" 
  [data]="departments()" 
  [loading]="loading()"
  (actionClick)="onActionClick($event)" 
  (addClick)="onAddDepartment()" 
  (refreshClick)="onRefresh()"
  (selectionChange)="onSelectionChange($event)"
  (selectionAction)="onSelectionAction($event)"
  (rowClick)="onRowClick($event)">
  </app-list-widget>
</div>