<app-page-header [title]="'Sub Department'" [breadcrumbs]="[
    { label: 'Department', url: '/department' },
    { label: 'Sub Department' }
  ]">
</app-page-header>

<div class="sub-department-page">
  <app-list-widget 
  [config]="listConfig" 
  [data]="subDepartments()" 
  [loading]="loading()"
  (actionClick)="onActionClick($event)" 
  (addClick)="onAddSubDepartment()" 
  (refreshClick)="onRefresh()"
  (selectionChange)="onSelectionChange($event)"
  (selectionAction)="onSelectionAction($event)"
  (rowClick)="onRowClick($event)">
  </app-list-widget>
</div>