<div class="sidenav-header">
    <img [src]="profilePictureUrl()" [width]="profilePicSize()" [height]="profilePicSize()" 
        alt="Profile Picture">
    <div class="header-text" [class.hide-header-text]="sideNavCollapsed()">
        <h2>{{ FullName }}</h2>
        <p>{{ CreatedBy }}</p>
    </div>
</div>
<mat-nav-list>
    @for (item of menuItems(); track item.label) {
    <app-menu-items [item]="item" [collapsed]="sideNavCollapsed()" [openedItemLabel]="openedItem"
        (menuClicked)="onMenuClicked($event)"></app-menu-items>
    }

</mat-nav-list>